.navbar {
    position: sticky;
    z-index: 1000;  /* Sets importance of component (show in screen before every other thing) */

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Structure */
    height: 45px;
    padding: 10px 5%;
    padding-top: 3px;

    /* Style */
    background-color: rgb(255, 255, 255);

    /* Border */
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}

.navbar_links {
    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Structure */
    height: 100%;
}

.home_link {
    /* Style */
    font-size: 30px;
}

.navbar_secondary_links {
    /* Structure */
    margin-left: 80px;
    margin-top: 10px;

    /* Style */
    font-size: 18px;
}

.navbar_secondary_links > a {
    /* Structure */
    margin-right: 20px;
}

a {
    /* Style */
    color: rgb(0, 0, 0);
}

button {
    /* Structure */
    margin-right: 80px;

    /* Style */
    color: rgb(0, 0, 0);
}

.theme_image_button{
    /* Structure */
    height: 75%;
}

.theme_image {
    /* Structure */
    height: 28px;
    margin-top: 6px;
}
